#show{
  display: none;
}

#cross {
  display: none;
}

.second_nav{
    display: none;
}

/* @media screen and (min-width: 480px) {
  .first_menu {
    display: none;
  }
  #show {
    display: inline;
  }
}
*/
@media screen and (max-width: 400px) {
  .first_menu {
    display: none;
  }
  #show {
    display: inline;
  }
} 


@media screen and (max-width: 500px) {
  .first_menu {
    display: none;
  }
  #show {
    display: inline;
  }
} 


@media screen and (width: 600px) {
  #show {
    display: inline;
  }
  .first_menu {
      display: none;
  }
  
}

.top-left {
  position: absolute;
  bottom: 8px;
  left:16px;
}


